input:not([type]), input[type=text], input[type=password], input[type=email], input[type=url], input[type=time], input[type=date], input[type=datetime], input[type=datetime-local], input[type=tel], input[type=number], input[type=search], textarea.materialize-textarea {
  background-color: transparent;
  border: none;
  border-bottom: 0px solid #9e9e9e;
  border-radius: 0;
  outline: none;
  height: 1rem;
  width: 90%;
  font-size: 1rem;
  margin: 0 0 0px 0;
  padding: 0;
  box-shadow: none;
  box-sizing: content-box;
  transition: all 0.3s;
}

@media only screen and (min-width: 993px){
  .container {
    width: 95%;
}
}

.reportsUser{
  text-decoration: solid;
  font-size: 20px;

}

  .close {
    cursor: pointer;
    width: 26px;
    color: aqua;
    background-color: aliceblue;
    text-align: center;
    font-size: 21px;
    margin-left: 8px;
    margin-top: 8px;
  }

  .modal {
    animation: popup .5s ease-in-out .5s forwards;
  }

  .showcase-status-bar {
    background: var(--cultured);
    position: relative;
    height: 10px;
    border-radius: 5px;

  }

  .testimonials-box {

    justify-content: center;
  }

  .showcase-status-bar::before {
    position: absolute;
    content: '';
    top: 3px;
    left: 3px;
    height: 4px;
    width: 40%;
    background: var(--salmon-pink);
    border-radius: 4px;
  }

  .showcase-status .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--eerie-black);
    font-size: var(--fs-9);
    font-weight: var(--weight-400);
    text-transform: uppercase;
    margin-bottom: 10px;
  }

  /*-------- flex container --------*/
  .amountTimeline {
    font-size: var(--fs-7);
    font-weight: var(--weight-700);
    color: var(--salmon-pink);
  }

  .graphs {
    width: 21rem;
  }

  .graphsis {
    justify-content: space-between;
  }

  /* timeline color */
  .roadmap.roadmap--orientation-auto .roadmap__events:after {
    position: absolute;
    top: 50%;
    left: 0;
    display: block;
    content: "";
    width: 0%;
    height: 4px;
    background-color: #FF8F9C;
    border-radius: 2px;
    -webkit-transition: all .5s linear;
    -o-transition: all .5s linear;
    transition: all .5s linear;
  }

  .roadmap.roadmap--orientation-auto .roadmap__events__event:after,
  .roadmap.roadmap--orientation-auto .roadmap__events__event:before {
    position: absolute;
    content: "";
    display: block;
    background-color: #FF8F9C;
    -webkit-transition: all .3s cubic-bezier(.25, .1, .25, 1.3);
    -o-transition: all .3s cubic-bezier(.25, .1, .25, 1.3);
    transition: all .3s cubic-bezier(.25, .1, .25, 1.3);
  }

  .redeemBtn {

    background: var(--eerie-black);
    color: var(--white);
    font-size: 12px;
    font-weight: var(--weight-600);
    text-transform: uppercase;
    width: max-content;
    margin: auto;
    padding: 0 5px;
    border-radius: var(--border-radius-sm);
    margin-bottom: 5px;
  }

  .containerRedeem {
    width: 100%;
    height: 100%;
  }

  .containerRedeem h1 {
    text-align: center;
    padding-top: 10%;
    margin-bottom: 60px;
    font-weight: 600;
    position: relative;
  }

  .containerRedeem h1::after {
    content: '';
    background: var(--salmon-pink);
    width: 100px;
    height: 5px;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
  }

  .rowRedeem {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 30px;
  }

  .serviceRedeem {
    border: solid 1px #cdc8c8;
    text-align: center;
    padding: 25px 10px;
    border-radius: 10px;
    font-size: 14px;
    cursor: pointer;
    background: transparent;
    transition: transform 0.5s, background 0.5s;
  }

  .serviceRedeem i {
    font-size: 40px;
    margin-bottom: 10px;
    color: var(--salmon-pink);
    ;
  }

  .serviceRedeem h2 {
    font-weight: 600;
    margin-bottom: 8px;
  }

  .serviceRedeem:hover {
    background: var(--salmon-pink);
    color: #fff;
    transform: scale(1.05);
  }

  .serviceRedeem:hover i {
    color: #fff;
  }

  .sectionInfo {
    display: flex;
    justify-content: space-around;
    text-align: center;
    width: 100%;
    position: relative;
    margin-top: 50px;
  }

  .itemUserInfo {
    border: 1px solid #ece8e8;
    padding: 50px 40px;
    background-color: #ffffff;
    margin: 5px;
    margin-bottom: 1.25rem;
    /* ändra detta */
    width: 270px;
    height: auto;
    padding: 22px;
    border-radius: 0.5rem;
    position: relative;
    transition: transform 0.5s, background 0.5s;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1), 0px 10px 10px 0 rgba(0, 0, 0, 0.1);
  }

  .itemUserInfo:hover {
    cursor: pointer;
    background: hsl(0deg 0% 92%);
    color: black;
    transform: scale(1.05);
  }

  .itemUserInfo .title {
    font-size: 22px;
    font-weight: 600;
    margin: 0;
    color: #0e224a;
    margin-top: 1rem;
  }

  .itemUserInfo .text {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
    padding: 5px;
    margin-top: 10px;
  }

  .itemUserInfo .icon {
    display: "flex";
    justify-content: "center";
    align-items: "center";
    text-align: center;
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
    overflow-x: visible;
  }

  .itemUserInfo .icon i {
    font-weight: 900;
    text-align: center;
    line-height: inherit;
    font-size: 45px;
    color: white;
  }

  .itemUserInfo .icon .vector {
    width: 2.5rem;
    position: relative;
    top: 1.25rem;
  }
